#logo{
    margin: auto;
    display: block;
}

h1{
    color: blue;
    font-size: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0%;
}

p{
    font-style: initial;
    font-size: 20px;
    text-align: center;
}

ul{
    color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 1cm;
}

.checklist{
    width: 400px;
    height: 150px;
}